* {
    box-sizing: border-box;
    line-height: 100%;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Onest-Regular', sans-serif;
    font-size: 14px;
    color: rgb(25, 31, 49);
    background-color: rgb(245, 246, 251);
    caret-color: rgb(33, 148, 54);
    height: 100%
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}



button {
    display: block;
    margin: 0 auto;
    max-width: 260px;
    width: 100%;
    padding: 18px 20px;
    font-family: 'Onest-Medium', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(27, 195, 57);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;

    &:focus-within {
        outline: 2px solid rgb(33, 148, 54);
        outline-offset: -2px;
    }

    &:active {
        outline: 2px solid rgb(33, 148, 54);
        outline-offset: -2px;
    }
}

a {
    text-decoration: none;
}

.black-color {
    color: rgb(25, 31, 49);
}

.nda-wrapper {
    padding: 0 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: 280px 1fr;
    padding-top: 91px;
    height: 100%;
}

.logo-link {
    display: block;
}


.logo-link>img {
    display: block;
}

form {
    width: 100%;
}

h1 {
    font-family: 'Onest-Medium';
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
}

h2 {
    font-family: 'Onest-Medium';
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

h3 {
    font-family: 'Onest-Medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.unauthorized-status {
    position: absolute;
    bottom: -20px;
    left: 0;
    display: inline;
    margin: 0;
    color: #b3261e;
}