.chatbot-inctruction {
  color: rgb(25, 31, 49);
  font-family: "Onest-Regular", sans-serif;
  padding: 30px;
  width: 100%;
  resize: none;
  border: 2px solid #dfe2eb;
  border-radius: 12px;
  min-height: 212px;
}

.chatbot-instructions>h2 {
  margin: 0 0 20px;
}