.chatbots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbots h2 {
  font-family: 'Onest-Bold';
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  color: rgb(25, 31, 49);
  text-align: center;
  margin: 0 0 24px;
}

.chatbots p {
  margin: 0 0 40px;
  font-family: 'Onest-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(108, 114, 128)
}

.chatbots a {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  font-family: 'Onest-Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  border-radius: 18px;
  background-color: rgb(27, 195, 57);
}

.chatbots svg {
  margin-right: 8px;
}