@font-face {
    font-family: 'Onest-Medium';
    src: url(../assets/fonts/Onest-Regular.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Onest-Regular';
    src: url(../assets/fonts/Onest-Regular.woff2);
    font-weight: 400;
}