@import '../styles/media.scss';

.form {
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px;
    max-width: 504px;
    width: 100%;
    padding: 42px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

    @include mobile {
        margin: 0;
        padding: 24px;
    }
}

.form-wrapper {
    display: flex;
    align-items: center;
    padding-top: 90px;
    flex-grow: 1;

    @include mobile {
        padding: 15px;
    }
}

.form-link {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto 24px;
    font-family: 'Onest-Medium';
    font-size: 14px;
    color: rgb(33, 148, 54);
    transition: border 0.5s ease-out;
    border-bottom: 1px solid transparent;
    padding: 3px;

    &:hover {
        border-bottom: 1px solid rgb(33, 148, 54);
    }

    &--last {
        margin: 0 auto;
    }
}

.form-title {
    font-family: 'Onest-Medium';
    text-align: center;
    font-size: 32px;
    font-weight: 500;

    @include mobile {
        margin: 0 0 32px;
        font-size: 22px;
    }
}

.form-button {
    margin-bottom: 24px;
    max-width: none;
    width: 100%;
}