.photochat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photochat__input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 100%;
    cursor: pointer;
}

.photochat__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    padding: 18px 23px;
    cursor: pointer;
    border: 2px solid #dfe2eb;
    border-radius: 8px;
}

.photochat__label>span {
    font-family: 'Onest-Medium', sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

.photochat__header {
    font-family: 'Onest-Medium', sans-serif;
    font-size: 16px;
    margin: 0 0 20px;
}