.new-chat-bot-form {
    padding: 50px;
    background-color: #ffffff;
    border-radius: 15px;
}

.new-chat-bot-form>h1,
h2 {
    font-family: 'Onest-Medium', sans-serif;
    line-height: 36px;
    font-size: 28px;
}
