.succes-uploaded {
  margin-bottom: 50px;
}

.succes-uploaded>h2 {
  margin: 0 0 30px;
}

.succes-uploaded__area {
  display: flex;
  align-items: center;
  padding: 18px;
  border: 2px solid rgb(223, 226, 235);
  border-radius: 12px;
}

.succes-uploaded__area>p {
  margin: 0;
  font-size: 16px;
  color: rgb(108, 114, 128);
}

.succes-uploaded__area>img {
  display: block;
  width: 20px;
  margin-left: 10px;
}