@import "../../styles/media.scss";

.navbar-area {
  grid-column: 1/2;
  grid-row: 1/-1;
  border-right: 1px solid rgb(233, 235, 244);

  @include mobile {
    grid-column: unset;
    grid-row: unset;
    z-index: 999;
    position: fixed;
    top: 88px;
    left: 0;
    width: 0;
    border: none;
    width: 100%;
    overflow-y: hidden;
  }
}

.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  grid-column: 1/2;
  background-color: #ffffff;
  align-items: center;
  // transition-property: transform;
  // transition-duration: 0.3s;
  transition: all 0.6s linear;

  @include mobile {
    transform: translate(-100%);
    // overflow: hidden;
  }

  &--active {
    width: 100%;
    transform: translate(0%);
    align-items: flex-start;
  }
}

.nav-bar__wrapper {
  position: fixed;
  top: 0;
  padding-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include mobile {
    position: static;
    padding-top: 0;
    height: calc(100vh - 86px);
    width: 100%;
  }
}

.nav-bar__list {
  padding: 32px 0;

  @include mobile {
    padding: 20px 0;
  }
}

.nav-bar__list a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 16px 20px;
  font-family: "Onest-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #191f31;
  border-radius: 8px;
  transition: all 0.4s ease;

  &:hover {
    background-color: rgba(33, 148, 54, 0.07);
    color: rgb(33, 148, 54);
  }

  @include mobile {
    padding: 16px 0;
  }
}

.nav-bar__list a > svg {
  width: 20px;
  height: 20px;
}

.nav-bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: rgb(25, 31, 49);
  background-color: rgb(245, 246, 251);
  transition: all 0.4s ease;

  &:hover {
    background-color: rgba(33, 148, 54, 0.07);
    color: rgb(33, 148, 54);
  }

  @include mobile {
    max-width: 280px;
    width: 100%;
    justify-content: flex-start;
  }
}

.nav-bar__logo {
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(233, 235, 244);

  @include mobile {
    border: none;
  }
}

.nav-bar__footer {
  margin-top: auto;
}

.nav-bar-footer {
  padding: 25px 0;
}
