.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  grid-column: 1/2;
  background-color: #ffffff;
  max-width: 280px;
  align-items: center;
}

.nav-bar__wrapper {
  position: fixed;
  top: 0;
  padding-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-bar__list {
  padding: 32px 0;
}

.nav-bar__list a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 16px 20px;
  font-family: "Onest-Medium", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #191f31;
  border-radius: 8px;
  transition: all 0.4s ease;

  &:hover {
    background-color: rgba(33, 148, 54, 0.07);
    color: rgb(33, 148, 54);
  }
}

.nav-bar__list a>svg {
  width: 20px;
  height: 20px;
}

.nav-bar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: rgb(25, 31, 49);
  background-color: rgb(245, 246, 251);
  transition: all 0.4s ease;

  &:hover {
    background-color: rgba(33, 148, 54, 0.07);
    color: rgb(33, 148, 54);
  }
}

.nav-bar__logo {
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(233, 235, 244);
}

.nav-bar__footer {
  margin-top: auto;
}

.nav-bar-footer {
  padding: 25px 0;
}