@import '../../styles/media.scss';

.dashboard-layout {
  display: grid;
  height: 100%;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 86px 1fr;
  background-color: #fff;
  min-height: 100vh;

  @include mobile {
    grid-template-columns: 1fr;
  }
}



.header-area {
  grid-column: 2/3;
  grid-row: 1/2;

  background-color: #ffffff;

  @include mobile {
    grid-column: 1/-1;
  }
}

.page-area {
  grid-column: 2/3;
  grid-row: 2/-1;
  padding: 24px 24px 0;
  background-color: #f5f6fb;

  @include mobile {
    grid-column: 1/-1;
  }
}